page-edit-profile-details {
	
.edit-nickname-wrapper{
    margin-top: 5px;
    width : auto;
    height: 20vh;
    background-color: #fff;
    text-align: center;
}

.edit-nickname-update{
    margin-top: 10px;
}


}
