page-support {
    .header-style{
        justify-content: center;
        display: flex;
        margin-top: 13px;
    }
    .line-style{
        font-weight: 500;
        color: #A7A7A9;
    }
    .img-style{
        height: 13px;
        margin-top: 8px;
        margin-right: 6px;
        width: 12px;
    }
    .icon-style{
        background-color:#F5F5F7 ;
        display: flex;
        justify-content: flex-end;
        margin-right: 5px;
    }
    .scale-content{
        background-color:#fff;
    height: 484px;
        width: 106%;
    margin-left: -8px;
    margin-top: -5px;
    }
    .scale-title{
        background-color:#F5F5F7 ;
        height: 69px;
    }
  .subtitle-style{
    font-weight: 900;text-transform: capitalize; margin-top:2%; margin-right:45px;
  }
    .title-text-style{
        margin-left: 60px;
   }
  .button-title{
    margin-left: -15px;
   }
    .searchbar-md .searchbar-input {
        padding: 6px 55px;
        border-radius: 2px;
        background-position: left 8px center;
        height: auto;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: #141414;
        background-color: #fff;
        -webkit-box-shadow:0px 0px !important ;
        box-shadow:0px 0px !important ;
    }
    .p-style{

        font-size: 1.3rem;
        color: #928a8a;
        width: 222px;
        width: 222px;
        margin-bottom: 18px;
        
        margin-left: 16px
    }
    .text-style-p{
        width: 91%;
        justify-content: center;
        margin-left: 21px;
       
    }
    .p-top
    {
        margin-top: 21px;
    }
    .text-info-style{
        text-align:center; margin-top:-10px;
        margin-top: 2px;
        color: #3478ce;
    }
    .text-style{
        text-align:center;
         color:#3478ce;
                   margin-top:0px;
          font-weight: 900;
    }
    .center {
        margin-top: 16%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 24px;
        width: 25px;
    
    }
    .button-inner{
        margin-right:45px;
    }
    .toolbar-title-md {
        margin-left:-45px;
}
.div-box{
    display: block;
width: 100%;

margin-left: 13px;
}
.div-box1{
    display: inline-block;
width: 80%;
}
.div-box2{
    text-align: center;    
    display: inline-block;
width: 17%;
}

}
